# MySQL (Aplicacao)
MYSQL_HOST=200.145.62.15
MYSQL_DB=fundunesp_workflow
MYSQL_USER=root
MYSQL_PASS=

# SQL Server Senior (Sapiens)
SENIOR_HOST=200.145.62.23
SENIOR_DB=sapiens
SENIOR_USER=sapiens
SENIOR_PASS=

# SMTP (Email)
SMTP_DSN=smtp://usuario:senha@smtp.mailtrap.io:2525

# App
APP_ENV=development
APP_DEBUG=true
